@model List<DreamDayWeddingPlanner.Models.User>

<h2>Planner List</h2>
<a href="@Url.Action("AddPlanner", "Admin")" class="btn btn-info mt-3 ml-2">Add Planner</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var planner in Model)
        {
            <tr>
                <td>@planner.Username</td>
                <td>@planner.Email</td>
                <td>
                    @Html.ActionLink("Delete", "DeletePlanner", "Admin", new { id = planner.UserId },
                    new
                         {
                             onclick = "return confirm('Are you sure you want to delete this planner?');",
                          @class = "btn btn-danger btn-sm"
                         })
                </td>
            </tr>
        }
    </tbody>
</table>
